body{
  background-color: #92a4b7;
  text-align: justify;
}

.center {
  text-align: center;
}

.container {
  margin: auto;
  padding: 0;
  background-color: #ffffff;
  border-left: solid #568abf 0.5em;
  border-right: solid #568abf 0.5em;
}

.row {
  margin: 1em;
}

.header h1{
  text-align: center;
}

#game-container {
  width: 500px;
  height: 500px;
  background-color: #c7c7c7;
  border: 0.2em solid #484848;
  padding: 0;
  box-sizing: border-box;
}

#usersDescriptionBox {
  list-style: square;
}

#usersDescriptionBox li{
  color:aquamarine;
}